---
title: Article page
---
{% extends "layouts/_layout.html" %}

{% block content %}

{# variable example #}



{# partial example #}
{% include "partials/_header.html" %}
{% import "partials/_sect-title.html" as titles %}


<section class="article-content">
  <div class="container">
    <div class="navigation d-flex justfy-content-between align-items-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="page.html">F.A.Q</a></li>
          <li class="breadcrumb-item active" aria-current="page">Общий игровой процесс</li>
        </ol>
      </nav>
      <a href="page.html" class="btn btn-link ml-0 ml-md-auto mb-2 mb-md-0">Назад</a>
    </div>

    <div class="row">
      <div class="col-12">
        {{ titles.title('Общий игровой процесс' , 'F.A.Q.') }}
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4 d-none d-lg-block">
        <ul id="articleTabs" class="list">
          <li class="list-item">
            <a class="list-item-link" href="#tab-1">Какова цель игры?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-2">Как я повышу уровень?</a>
          </li>
          <li class="list-item active">
            <a class="list-item-link" href="#tab-3">Зачем отстраивать корабль?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-4">Как передвигаться между островами?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-5">Как определить какой остров “опасный”?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-6">Как попасть в тайную пещеру аборигенов?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-7">Где взять маски аборигенов?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-8">Как попасть в Заброшенный Храм аборигенов?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-9">Где взять ключи для входа в тайную комнату?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-10">Зачем отстраивать мосты?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-11">Где искать ценный лут?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-12">Что такое сюжетный квест?</a>
          </li>
          <li class="list-item">
            <a class="list-item-link" href="#tab-13">Где искать сюжетные записки?</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-8">
        <div id="accordion" class="custom-tabs">
          <a class="list-item-link active" href="#tab-1">Какова цель игры?</a>
          <div class="tab-pane fade show active" id="tab-1">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-2">Как я повышу уровень?</a>
          <div class="tab-pane fade" id="tab-2">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-3">Зачем отстраивать корабль?</a>
          <div class="tab-pane fade" id="tab-3">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-4">Как передвигаться между островами?</a>
          <div class="tab-pane fade" id="tab-4">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-5">Как определить какой остров “опасный”?</a>
          <div class="tab-pane fade" id="tab-5">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-6">Как попасть в тайную пещеру аборигенов?</a>
          <div class="tab-pane fade" id="tab-6">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-7">Где взять маски аборигенов?</a>
          <div class="tab-pane fade" id="tab-7">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-8">Как попасть в Заброшенный Храм аборигенов?</a>
          <div class="tab-pane fade" id="tab-8">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-9">Где взять ключи для входа в тайную комнату?</a>
          <div class="tab-pane fade" id="tab-9">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-10">Зачем отстраивать мосты?</a>
          <div class="tab-pane fade" id="tab-10">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-11">Где искать ценный лут?</a>
          <div class="tab-pane fade" id="tab-11">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-12">Что такое сюжетный квест?</a>
          <div class="tab-pane fade" id="tab-12">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
          <a class="list-item-link" href="#tab-13">Где искать сюжетные записки?</a>
          <div class="tab-pane fade" id="tab-13">
            <div class="custom-tabs-item">
              <p class="mb-0">tab-1</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% include "partials/_feedback.html" %}
{% include "partials/_footer.html" %}




{% endblock %}
