.icon-close {
    width: 48px;
    height: 48px;
    fill: #FFF;
}

.icon-glass {
    width: 20px;
    height: 20px;
    fill: #4A4A4A;
}

.icon-info-copy {
    width: 1em;
    height: 1em;
    fill: none;
}
